PORT=8000
DATABASE_URL=postgresql://user:your_password@db:5432/database_name
FRONTEND_URL=your_url_to_frontend
MAILTRAP_SENDER_EMAIL=email
MAILTRAP_SENDER_PASSWORD=your_16_char_pass

ACCESS_TOKEN_SECRET=your_access_token
REFRESH_TOKEN_SECRET=your_refresh_token
ACCESS_TOKEN_EXPIRATION=
REFRESH_TOKEN_EXPIRATION=